In [23]:
import pandas as pd
import numpy as np

In [2]:
ruta = 'data_FIFA.xlsx'

In [115]:
df = pd.read_excel(ruta)

In [116]:
print(df.columns)

Index(['Unnamed: 0', 'ID', 'Name', 'Age', 'Nationality', 'Overall',
       'Potential', 'Club', 'Value', 'Wage', 'Special', 'Preferred Foot',
       'International Reputation', 'Weak Foot', 'Skill Moves', 'Work Rate',
       'Body Type', 'Real Face', 'Position', 'Jersey Number', 'Joined',
       'Loaned From', 'Contract Valid Until', 'Height', 'Weight', 'LS', 'ST',
       'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM', 'LCM',
       'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB',
       'RCB', 'RB', 'Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing',
       'Volleys', 'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing',
       'BallControl', 'Acceleration', 'SprintSpeed', 'Agility', 'Reactions',
       'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots',
       'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving',
       'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes',
       'Release Clause'],
      dtype='object')

In [210]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 86 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   # Lista                   18207 non-null  int64
 1   ID                        18207 non-null  int64
 2   Name                      18207 non-null  object
 3   Age                       18207 non-null  int64
 4   Nationality               18207 non-null  object
 5   Overall                   18207 non-null  int64
 6   Potential                 18207 non-null  int64
 7   Club                      18207 non-null  object
 8   Value                     18207 non-null  object
 9   Wage                      18207 non-null  object
 10  Special                   18207 non-null  int64
 11  Preferred Foot            18207 non-null  object
 12  International Reputation  18207 non-null  float64
 13  Weak Foot                 18207 non-null  float64
 14  Skill Moves               18207 non-null  float64
 15  Work Rate                 18207 non-null  object
 16  Body Type                 18207 non-null  object
 17  Real Face                 18207 non-null  object
 18  Position                  18207 non-null  object
 19  Jersey Number             18207 non-null  float64
 20  Joined                    18207 non-null  object
 21  Loaned From               18207 non-null  object
 22  Contract Valid Until      18207 non-null  object
 23  Height                    18207 non-null  object
 24  Weight                    18207 non-null  object
 25  LS                        18207 non-null  object
 26  ST                        18207 non-null  object
 27  RS                        18207 non-null  object
 28  LW                        18207 non-null  object
 29  LF                        18207 non-null  object
 30  CF                        18207 non-null  object
 31  RF                        18207 non-null  object
 32  RW                        18207 non-null  object
 33  LAM                       18207 non-null  object
 34  CAM                       18207 non-null  object
 35  RAM                       18207 non-null  object
 36  LM                        18207 non-null  object
 37  LCM                       18207 non-null  object
 38  CM                        18207 non-null  object
 39  RCM                       18207 non-null  object
 40  RM                        18207 non-null  object
 41  LWB                       18207 non-null  object
 42  LDM                       18207 non-null  object
 43  CDM                       18207 non-null  object
 44  RDM                       18207 non-null  object
 45  RWB                       18207 non-null  object
 46  LB                        18207 non-null  object
 47  LCB                       18207 non-null  object
 48  CB                        18207 non-null  object
 49  RCB                       18207 non-null  object
 50  RB                        18207 non-null  object
 51  Crossing                  18207 non-null  float64
 52  Finishing                 18207 non-null  float64
 53  HeadingAccuracy           18207 non-null  float64
 54  ShortPassing              18207 non-null  float64
 55  Volleys                   18207 non-null  float64
 56  Dribbling                 18207 non-null  float64
 57  Curve                     18207 non-null  float64
 58  FKAccuracy                18207 non-null  float64
 59  LongPassing               18207 non-null  float64
 60  BallControl               18207 non-null  float64
 61  Acceleration              18207 non-null  float64
 62  SprintSpeed               18207 non-null  float64
 63  Agility                   18207 non-null  float64
 64  Reactions                 18207 non-null  float64
 65  Balance                   18207 non-null  float64
 66  ShotPower                 18207 non-null  float64
 67  Jumping                   18207 non-null  float64
 68  Stamina                   18207 non-null  float64
 69  Strength                  18207 non-null  float64
 70  LongShots                 18207 non-null  float64
 71  Aggression                18207 non-null  float64
 72  Interceptions             18207 non-null  float64
 73  Positioning               18207 non-null  float64
 74  Vision                    18207 non-null  float64
 75  Penalties                 18207 non-null  float64
 76  Composure                 18207 non-null  float64
 77  Marking                   18207 non-null  float64
 78  StandingTackle            18207 non-null  float64
 79  SlidingTackle             18207 non-null  float64
 80  GKDiving                  18207 non-null  float64
 81  GKHandling                18207 non-null  float64
 82  GKKicking                 18207 non-null  float64
 83  GKPositioning             18207 non-null  float64
 84  GKReflexes                18207 non-null  float64
 85  Release Clause            18207 non-null  object
dtypes: float64(38), int64(6), object(42)
memory usage: 11.9+ MB
None

In [118]:
print(df.describe())

         Unnamed: 0             ID           Age       Overall     Potential  \
count  18207.000000   18207.000000  18207.000000  18207.000000  18207.000000
mean    9103.000000  214298.338606     25.122206     66.238699     71.307299
std     5256.052511   29965.244204      4.669943      6.908930      6.136496
min        0.000000      16.000000     16.000000     46.000000     48.000000
25%     4551.500000  200315.500000     21.000000     62.000000     67.000000
50%     9103.000000  221759.000000     25.000000     66.000000     71.000000
75%    13654.500000  236529.500000     28.000000     71.000000     75.000000
max    18206.000000  246620.000000     45.000000     94.000000     95.000000

            Special  International Reputation     Weak Foot   Skill Moves  \
count  18207.000000              18159.000000  18159.000000  18159.000000
mean    1597.809908                  1.113222      2.947299      2.361308
std      272.586016                  0.394031      0.660456      0.756164
min      731.000000                  1.000000      1.000000      1.000000
25%     1457.000000                  1.000000      3.000000      2.000000
50%     1635.000000                  1.000000      3.000000      2.000000
75%     1787.000000                  1.000000      3.000000      3.000000
max     2346.000000                  5.000000      5.000000      5.000000

       Jersey Number  ...     Penalties     Composure       Marking  \
count   18147.000000  ...  18159.000000  18159.000000  18159.000000
mean       19.546096  ...     48.548598     58.648274     47.281623
std        15.947765  ...     15.704053     11.436133     19.904397
min         1.000000  ...      5.000000      3.000000      3.000000
25%         8.000000  ...     39.000000     51.000000     30.000000
50%        17.000000  ...     49.000000     60.000000     53.000000
75%        26.000000  ...     60.000000     67.000000     64.000000
max        99.000000  ...     92.000000     96.000000     94.000000

       StandingTackle  SlidingTackle      GKDiving    GKHandling  \
count    18159.000000   18159.000000  18159.000000  18159.000000
mean        47.697836      45.661435     16.616223     16.391596
std         21.664004      21.289135     17.695349     16.906900
min          2.000000       3.000000      1.000000      1.000000
25%         27.000000      24.000000      8.000000      8.000000
50%         55.000000      52.000000     11.000000     11.000000
75%         66.000000      64.000000     14.000000     14.000000
max         93.000000      91.000000     90.000000     92.000000

          GKKicking  GKPositioning    GKReflexes
count  18159.000000   18159.000000  18159.000000
mean      16.232061      16.388898     16.710887
std       16.502864      17.034669     17.955119
min        1.000000       1.000000      1.000000
25%        8.000000       8.000000      8.000000
50%       11.000000      11.000000     11.000000
75%       14.000000      14.000000     14.000000
max       91.000000      90.000000     94.000000

[8 rows x 44 columns]

In [119]:
df = df.rename(columns= {'Unnamed: 0':'# Lista'})
print(df.columns)

Index(['# Lista', 'ID', 'Name', 'Age', 'Nationality', 'Overall', 'Potential',
       'Club', 'Value', 'Wage', 'Special', 'Preferred Foot',
       'International Reputation', 'Weak Foot', 'Skill Moves', 'Work Rate',
       'Body Type', 'Real Face', 'Position', 'Jersey Number', 'Joined',
       'Loaned From', 'Contract Valid Until', 'Height', 'Weight', 'LS', 'ST',
       'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM', 'LCM',
       'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB',
       'RCB', 'RB', 'Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing',
       'Volleys', 'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing',
       'BallControl', 'Acceleration', 'SprintSpeed', 'Agility', 'Reactions',
       'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots',
       'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving',
       'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes',
       'Release Clause'],
      dtype='object')

In [120]:
print(df['Club'].value_counts(dropna = False))

NaN                        241
FC Barcelona                33
Wolverhampton Wanderers     33
Rayo Vallecano              33
Liverpool                   33
                          ...
Tromsø IL                   20
Sport Club do Recife        20
Sligo Rovers                19
Limerick FC                 19
Derry City                  18
Name: Club, Length: 652, dtype: int64

In [121]:
df['Club'].fillna("sin equipo", inplace = True)

In [122]:
print(df['Preferred Foot'].value_counts(dropna = False))

Right    13948
Left      4211
NaN         48
Name: Preferred Foot, dtype: int64

In [123]:
df['Preferred Foot'].fillna("Both", inplace = True)

In [124]:
df['International Reputation'].fillna(1, inplace = True)

In [125]:
df['Weak Foot'].fillna(3, inplace = True)

In [126]:
df['Skill Moves'].fillna(3, inplace = True)

In [127]:
print(df['Work Rate'].value_counts(dropna = False))

Medium/ Medium    9810
High/ Medium      3173
Medium/ High      1690
High/ High        1015
Medium/ Low        850
High/ Low          699
Low/ Medium        449
Low/ High          439
NaN                 48
Low/ Low            34
Name: Work Rate, dtype: int64

In [128]:
df['Work Rate'].fillna("Medium/ Medium", inplace = True)

In [129]:
print(df['Body Type'].value_counts(dropna = False))

Normal                 10595
Lean                    6417
Stocky                  1140
NaN                       48
PLAYER_BODY_TYPE_25        1
Courtois                   1
Shaqiri                    1
Akinfenwa                  1
C. Ronaldo                 1
Messi                      1
Neymar                     1
Name: Body Type, dtype: int64

In [130]:
df['Body Type'].fillna("Normal", inplace = True)

In [131]:
df= df.replace(["PLAYER_BODY_TYPE_25"],"Stocky")

In [132]:
print(df['Real Face'].value_counts(dropna = False))

No     16505
Yes     1654
NaN       48
Name: Real Face, dtype: int64

In [133]:
df['Real Face'].fillna("No", inplace = True)

In [134]:
print(df['Position'].value_counts(dropna = False))

ST     2152
GK     2025
CB     1778
CM     1394
LB     1322
RB     1291
RM     1124
LM     1095
CAM     958
CDM     948
RCB     662
LCB     648
LCM     395
RCM     391
LW      381
RW      370
RDM     248
LDM     243
LS      207
RS      203
RWB      87
LWB      78
CF       74
NaN      60
RAM      21
LAM      21
RF       16
LF       15
Name: Position, dtype: int64

In [135]:
df['Position'].fillna("ST", inplace = True)

In [136]:
df['Jersey Number'].fillna(26, inplace = True)

In [139]:
print(df['Joined'].value_counts(dropna = False))

2018-07-01 00:00:00    1553
2018-07-01 00:00:00    1538
2017-07-01 00:00:00    1133
2018-01-01 00:00:00     635
2016-07-01 00:00:00     614
                       ...
2017-05-13 00:00:00       1
2013-01-08 00:00:00       1
2016-12-11 00:00:00       1
2016-11-08 00:00:00       1
2017-05-25 00:00:00       1
Name: Joined, Length: 1737, dtype: int64

In [138]:
df['Joined'].fillna("2018-07-01 00:00:00", inplace = True)

In [143]:
print(df['Loaned From'].value_counts(dropna = False))

No es Prestamo         16943
Atalanta                  20
Sassuolo                  18
SL Benfica                17
Juventus                  17
                       ...
Fortuna Düsseldorf         1
Alianza Petrolera          1
CA Osasuna                 1
KV Oostende                1
Club Atlético Lanús        1
Name: Loaned From, Length: 342, dtype: int64

In [142]:
df['Loaned From'].fillna("No es Prestamo", inplace = True)

In [147]:
print(df['Contract Valid Until'].value_counts(dropna = False))

2019                   4819
2021                   4360
2020                   4027
2022                   1477
2023                   1053
2019-06-30 00:00:00     931
2018                    886
2019                    289
2018-12-31 00:00:00     144
2019-05-31 00:00:00      60
2019-01-01 00:00:00      51
2024                     23
2020-06-30 00:00:00      14
2019-01-31 00:00:00      13
2025                      7
2019-01-05 00:00:00       6
2019-01-02 00:00:00       6
2019-01-12 00:00:00       5
2019-10-14 00:00:00       5
2019-01-06 00:00:00       4
2019-01-25 00:00:00       3
2019-12-31 00:00:00       3
2019-01-07 00:00:00       3
2019-12-01 00:00:00       2
2020-05-31 00:00:00       2
2018-11-30 00:00:00       2
2026                      2
2020-02-27 00:00:00       1
2019-06-01 00:00:00       1
2019-01-03 00:00:00       1
2019-01-11 00:00:00       1
2019-01-04 00:00:00       1
2019-01-18 00:00:00       1
2019-01-30 00:00:00       1
2019-01-15 00:00:00       1
2019-01-20 00:00:00       1
2019-05-04 00:00:00       1
Name: Contract Valid Until, dtype: int64

In [146]:
df['Contract Valid Until'].fillna("2019", inplace = True)

In [151]:
print(df['Height'].value_counts(dropna = False))

6'0     2929
5'10    2479
5'9     2238
5'11    2159
6'2     2015
6'1     1908
6'3      990
5'8      946
5'7      905
6'4      749
5'6      316
6'5      246
5'5      145
6'6       93
5'4       30
6'7       21
5'3       18
6'8       10
5'2        5
5'1        3
6'9        2
Name: Height, dtype: int64

In [150]:
df['Height'].fillna("6'0", inplace = True)

In [154]:
print(df['Weight'].value_counts(dropna = False))

165lbs    1531
154lbs    1439
176lbs    1041
172lbs     987
159lbs     946
161lbs     936
163lbs     901
170lbs     860
168lbs     836
174lbs     705
150lbs     660
157lbs     617
181lbs     584
183lbs     513
179lbs     507
152lbs     506
143lbs     505
187lbs     448
148lbs     435
185lbs     432
146lbs     365
141lbs     322
190lbs     288
194lbs     278
139lbs     206
192lbs     193
137lbs     165
198lbs     156
196lbs     143
132lbs     127
201lbs      93
134lbs      87
203lbs      75
205lbs      60
207lbs      45
209lbs      34
130lbs      33
128lbs      31
212lbs      23
123lbs      18
126lbs      14
214lbs      11
121lbs      10
216lbs       9
117lbs       6
218lbs       5
119lbs       4
223lbs       3
225lbs       3
110lbs       2
236lbs       2
227lbs       2
229lbs       1
234lbs       1
243lbs       1
220lbs       1
115lbs       1
Name: Weight, dtype: int64

In [153]:
df['Weight'].fillna("165lbs", inplace = True)

In [157]:
print(df['LS'].value_counts(dropna = False))

61+2    2790
60+2     695
59+2     688
63+2     667
64+2     666
        ...
55+3       1
47+3       1
82+4       1
88+2       1
91+3       1
Name: LS, Length: 93, dtype: int64

In [156]:
df['LS'].fillna("61+2", inplace = True)

In [158]:
print(df['ST'].value_counts(dropna = False))

NaN     2085
61+2     705
60+2     695
59+2     688
63+2     667
        ...
49+3       1
87+5       1
82+4       1
88+2       1
55+3       1
Name: ST, Length: 94, dtype: int64

In [161]:
df['ST'].fillna("61+2", inplace = True)

In [162]:
df['RS'].fillna("61+2", inplace = True)

In [163]:
df['LW'].fillna("61+2", inplace = True)

In [164]:
df['LF'].fillna("61+2", inplace = True)

In [165]:
df['CF'].fillna("61+2", inplace = True)

In [166]:
df['RF'].fillna("61+2", inplace = True)

In [167]:
df['RW'].fillna("61+2", inplace = True)

In [168]:
df['LAM'].fillna("61+2", inplace = True)

In [169]:
df['CAM'].fillna("61+2", inplace = True)

In [170]:
df['RAM'].fillna("61+2", inplace = True)

In [171]:
df['LM'].fillna("61+2", inplace = True)

In [172]:
df['LCM'].fillna("61+2", inplace = True)

In [173]:
df['CM'].fillna("61+2", inplace = True)

In [174]:
df['RCM'].fillna("61+2", inplace = True)

In [175]:
df['RM'].fillna("61+2", inplace = True)

In [176]:
df['LWB'].fillna("61+2", inplace = True)

In [177]:
df['LDM'].fillna("61+2", inplace = True)

In [178]:
df['CDM'].fillna("61+2", inplace = True)

In [179]:
df['RDM'].fillna("61+2", inplace = True)

In [180]:
df['RWB'].fillna("61+2", inplace = True)

In [181]:
df['LB'].fillna("61+2", inplace = True)

In [182]:
df['LCB'].fillna("61+2", inplace = True)

In [183]:
df['CB'].fillna("61+2", inplace = True)

In [184]:
df['RCB'].fillna("61+2", inplace = True)

In [185]:
df['RB'].fillna("61+2", inplace = True)

In [187]:
print(df['Crossing'].value_counts(dropna = False))

65.0    528
62.0    528
60.0    518
59.0    508
64.0    497
       ...
90.0      3
89.0      2
93.0      1
92.0      1
5.0       1
Name: Crossing, Length: 90, dtype: int64

In [188]:
print(df['Penalties'].value_counts(dropna = False))

45.0    492
55.0    488
49.0    480
48.0    473
58.0    471
       ...
89.0      3
92.0      1
5.0       1
91.0      1
7.0       1
Name: Penalties, Length: 88, dtype: int64

In [191]:
print(df['LongShots'].value_counts(dropna = False))

59.0    508
58.0    496
62.0    485
65.0    436
55.0    435
       ...
91.0      2
92.0      2
90.0      2
3.0       1
94.0      1
Name: LongShots, Length: 93, dtype: int64

In [194]:
df['Crossing'].fillna(60, inplace = True)
df['Finishing'].fillna(60, inplace = True)
df['HeadingAccuracy'].fillna(60, inplace = True)
df['ShortPassing'].fillna(60, inplace = True)
df['Volleys'].fillna(60, inplace = True)
df['Dribbling'].fillna(60, inplace = True)
df['Curve'].fillna(60, inplace = True)
df['FKAccuracy'].fillna(60, inplace = True)
df['LongPassing'].fillna(60, inplace = True)
df['BallControl'].fillna(60, inplace = True)
df['Acceleration'].fillna(60, inplace = True)
df['SprintSpeed'].fillna(60, inplace = True)
df['Agility'].fillna(60, inplace = True)
df['Reactions'].fillna(60, inplace = True)
df['Balance'].fillna(60, inplace = True)
df['ShotPower'].fillna(60, inplace = True)
df['Jumping'].fillna(60, inplace = True)
df['Stamina'].fillna(60, inplace = True)
df['Strength'].fillna(60, inplace = True)
df['LongShots'].fillna(60, inplace = True)
df['Aggression'].fillna(60, inplace = True)
df['Interceptions'].fillna(60, inplace = True)
df['Positioning'].fillna(60, inplace = True)
df['Vision'].fillna(60, inplace = True)

In [199]:
df['Penalties'].fillna(45, inplace = True)
df['Composure'].fillna(60, inplace = True)
df['Marking'].fillna(60, inplace = True)
df['StandingTackle'].fillna(60, inplace = True)
df['SlidingTackle'].fillna(60, inplace = True)

In [204]:
print(df['GKReflexes'].value_counts(dropna = False))

11.0    1602
10.0    1602
8.0     1598
7.0     1577
14.0    1571
        ...
34.0       1
23.0       1
25.0       1
37.0       1
20.0       1
Name: GKReflexes, Length: 77, dtype: int64

In [205]:
df['GKDiving'].fillna(8, inplace = True)
df['GKHandling'].fillna(10, inplace = True)
df['GKKicking'].fillna(12, inplace = True)
df['GKPositioning'].fillna(10, inplace = True)
df['GKReflexes'].fillna(11, inplace = True)

In [209]:
print(df['Release Clause'].value_counts(dropna = False))

€1.1M      2121
€1.3M       423
€1.4M       386
€1.2M       385
€1.5M       337
           ...
€666K         1
€43.6M        1
€153.5M       1
€46.6M        1
€816K         1
Name: Release Clause, Length: 1244, dtype: int64

In [208]:
df['Release Clause'].fillna("€1.1M", inplace = True)

In [211]:
file_name = 'data_FIFA_Clean.xlsx'
  

df.to_excel(file_name)
print('DataFrame escrito en excel correctamente.')

DataFrame escrito en excel correctamente.